---
layout: "layouts/base.njk"
pageTitle: "How I Teach"
pageID: "tutoring-about"
mainTitle: "My Teaching Philosophy"
---

<section>
    <h2>Students Think They Can't Succeed in Math</h2>
    
    <p>In general, people don't have a bad experience in a history class and think, "I'm bad at Europe." However, students tend to blame themselves for their difficulties in math. Often, a math teacher doesn't explain things the way a student needs. Not because they can't, but because they may not have the time, or freedom, to meet each student's needs. When this happens, memorization and rote drilling replace true learning. Students thus end up thinking that math is only about learning formulas, or "tricks." They might suspect that something deeper is going on, but they don't "get it." That can make them feel like it's their own fault.</p>
    
    <p>Worse still, since math is cumulative, once you lose the plot in a math class, it's hard to recover on your own. I wouldn't blame any student for lacking the will to do that themselves without good reason. Unfortunately, a lot of students end up thinking that they can't succeed at math as a result.</p>
</section>
<section>   
    <h2>Physics is Often Taught Backwards</h2>
    
    <p>There's a related, but different, problem in learning physics. Introductory physics classes begin with familiar, intuitive situations, which is great. But the classes then consider these situations independently, without examining their common principles. Students can again get by through memorization and drilling, but that replaces understanding. If there's no context for the information&#8212;if it doesn't make sense&#8212;then they can only solve problems they've seen. True mastery of concepts in physics thus requires grappling with those underlying principles. Unfortunately, those are usually only introduced toward much later. They can feel like an afterthought, and some students never stay long enough to find them out.</p>
    
    <p>In my opinion, we should start with general principles and truths about the universe. Then all the usual situations we understand would be special cases of those. They'd help us understand those underlying truths, rather than obscure them. Concepts would then be easier to apply, to both familiar and unfamiliar situations.</p>
</section>
<section>
    <h2>Growth Mindset</h2>
    
    <p>I believe that math and physics ability are not fixed, but are skillsets that we can develop. Dr. Carol Dweck explains this in her book <cite><a href="https://www.amazon.com/Mindset-Psychology-Carol-S-Dweck/dp/0345472322" title="Amazon link to Mindset">Mindset</a></cite>. People often believe their aptitude at something is set in stone. Courses in school present and assess material only once (maybe twice at the final exam). Thus, there isn't an opportunity to perceive growth in the skill. Students often end up feeling that how they <em>did</em> is how they'll ever <em>do</em>.</p>
    
    <p>That isn't the case. With the proper guidance and perspective, people can improve at just about anything. </p>
</section>
<section> 
    <h2>Sense and Value</h2>
    
    <p>I taught high school many years ago. During one of our in-service days, a biology teacher gave a talk on long-term memory. He said that to learn and recall information, it needs to make sense to us, and have some inherent value to us. </p>
    
    <p>That is even more true for skills, as we also need to understand why we should practice, and analyze our practice. Math teachers in particular often fail at motivating this. We all love the material, so we think the value is self-evident. We tend to forget that not everyone agrees with us, or sees that value inherently. If we're not creating that desire in students, we can't expect them to do the work. </p>
</section>
<section>
    <h2>My Approach</h2>
    
    <p>All this informs my approach to teaching. I try my best to explain how things fit together, and why we'd want to know them. I relate the subject to the skills that we're trying to build, and to the student's interests.</p>
    
    <p>One of the questions math teachers get all the time is, "Who cares about this? Why would I ever need to know this, or be able to do this?" We need better answers to that. Here's my initial one, though. You don't run laps during a football game (I think; I'm not a sports guy). You don't lift weights to be able to lift heavier weights. Sometimes we do things that build a skill, even if the activity or subject isn't the thing we actually care about. Once we master that skill, we can apply it to the things we <em>are</em> passionate about. We also learn how to build skills in general, which is a very important lesson to learn. Conquering a problem we couldn't solve before empowers us to try other things that felt out of our reach.</p>
    
    <p>I currently only offer teaching and tutoring online via <a href="https://brave.com/talk/">Brave Talk</a>, a browser-based online meeting system. I want to be sure that I, and my students, are completely safe. That said, staring at a screen is passive, and is not conducive to a lecture-style session. Fortunately, Brave Talk allows us to work in a "flipped-classroom" style. Students might read a few pages and try a few problems on their own beforehand. At the start of our session, we can review that work, and then do new problems together in the shared workspace.</p>
</section>
<section>
    <h2>In Summary</h2>
    
    <p>Asking for help in math or physics is a very vulnerable thing. I take the responsibility to help someone who seeks to improve very seriously. Every class should be a safe space for students to make mistakes and learn to work out the solutions. </p>
    
    <p>So, if all this sounds good to you, please <a href="/contact">contact me</a>!</p>
</section>
