---
layout: "layouts/base.njk"
pageTitle: "Tutoring"
pageID: "tutoring-home"
mainTitle: "Math and Physics Teaching and Tutoring"
---
<p>Hello! My name is Kevin Missett (he/him), and I've been teaching and tutoring math and physics from the middle-school to the college level for over twenty years. I'm interested in helping students, whether as a supplemental tutor alongside a more standard course, or as a primary deliverer of homeschool instruction. I have experience working with students of all ages and learning styles, including those with learning differences or other special needs.</p>

<p>Read more about my <a href="/tutoring/about">teaching philosophy</a></p>

<p>Find a list of the <a href="/tutoring/subjects">subjects I teach.</a></p>

<p>If you'd like to work together, please <a href="/contact">contact me</a>!</p>