---
layout: "layouts/base.njk"
pageTitle: "Tools and Resources"
pageID: "tutoring-tools"
mainTitle: "Tools and Resources"
---
<p>The following are some of the tools I use with my students, though I'm happy to use others if the need arises.</p>

<ul>
    <li><a href="https://brave.com/talk/">Brave Talk</a> for videoconferencing.</li>
    <li><a href="https://www.desmos.com/calculator">Desmos</a>, an online graphing calculator.</li>
    <li><a href="https://www.geogebra.org/calculator">GeoGebra</a>, another online graphing calculator for easy geometrical constructions.</li>
    <li><a href="https://classroom.google.com">Google Classroom</a> for assignments, grading, and tracking.</li>
    <li><a href="https://www.openstax.org">OpenStax</a> and <a href="https://www.libretexts.org">LibreTexts</a> for free, open-source textbooks of very high quality.</li>
</ul>