<nav class="{{location}}-tutoring-nav" aria-label="Site {{location}} tutoring">
    <ul class="{{location}}-tutoring-nav-list" role="list" id="{{location}}-tutoring-nav-list">
        {% for item in tutoringNav %}
        <li class="{{location}}-tutoring-nav-item"><a href="{{item.url}}" class="{{location}}-tutoring-nav-link"{% if item.url === page.url %} aria-current="page" data-state="active"{% endif %}>{{item.name}}</a></li>
        {% endfor %}
    </ul>
</nav>