.site-header {
    z-index: 1;
    padding-inline: var(--gutter);
    padding-block: 0.5em;
    background-color: hsl(var(--hsl-primary-dark));
    position: sticky;
    inset-block-start: 0;

    a {
        text-decoration: none;

        &:hover, &:focus {text-decoration: underline;}
        &:focus {
            outline: 2px solid currentColor;
            outline-offset: 0.25em;

        }
    }
}

.banner {
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: space-between;
}
.site-title {
    font-family: var(--font-headings);
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    text-transform: uppercase;
}

.open-sidebar-button {
    opacity: 0.5;
    transition: opacity var(--time);
    &:hover, &:focus {opacity:1;}

}