---
layout: "layouts/base.njk"
pageTitle: "Page Not Found"
pageID: "404"
---

<p>I can't find the page you were looking for. Perhaps it was one of these?</p>

<ul role="list" aria-label="Commonly visited pages.">
    <li><a href="tutoring/about">About</a>, to learn about my teaching philosophy.</li>
    <li><a href="tutoring/subjects">Subjects</a>, to see what subjects I teach.</li>
    <li><a href="tutoring/resources">Resources</a>, to see what tools and resources I use.</li>
    <li><a href="privacy">Privacy</a>, to see my site's privacy policy.</li>
    <li><a href="contact">Contact</a>, to, you know, contact me.</li>
</ul>

<p>Hope this helps!</p>